
<div class= ui-g-12>
    <h2>Question</h2>
    Select 1 or more:
    <p-multiSelect *ngIf="questions25" [options]="questions25" [(ngModel)]="selectedQuestions"
        [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
    <p-button (click)="sendQuestions()" label="Send"></p-button>
</div>

<div class= ui-g-12>
    <h2>Symptoms</h2>
    <p>Here we will store all your symptoms:</p>
    <p *ngFor="let s of selectedQuestions"> {{s}} </p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>




