<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-2 background_img"></div>
  
    <div class="ui-g-8 ui-g-nopad" style="background-color: #dff6f0;">
      
      <h1> Objectiu Diagnòstic Rapid </h1>
      
      <div class="ui-g-6">
        <router-outlet></router-outlet>
      </div>
      <div class="ui-g-6">
        <app-results></app-results>
      </div>
      
    </div>
    
    <div class="ui-g-2 background_img"></div>
    
    <div class="ui-g-12" style="background-color: #618685;">
      <h2 >
        bitsxlaMarató
      </h2>
    </div>

  </div>
</div>  